SCHEMATIC START ;
// created by map version E.30 on Tue Mar 31 03:48:08 2026 
COMP "U1/RG3_D1" LOCATE = SITE "P49" LEVEL 1; 
COMP "U1/RG3_D0" LOCATE = SITE "P50" LEVEL 1; 
COMP "H9/$Net00040_" LOCATE = SITE "P5" LEVEL 1; 
COMP "H9/$Net00039_" LOCATE = SITE "P8" LEVEL 1; 
COMP "H9/$Net00038_" LOCATE = SITE "P13" LEVEL 1; 
COMP "H9/$Net00037_" LOCATE = SITE "P19" LEVEL 1; 
COMP "H8/$Net00036_" LOCATE = SITE "P23" LEVEL 1; 
COMP "H8/$Net00035_" LOCATE = SITE "P26" LEVEL 1; 
COMP "H8/$Net00034_" LOCATE = SITE "P29" LEVEL 1; 
COMP "H8/$Net00033_" LOCATE = SITE "P38" LEVEL 1; 
COMP "H7/$Net00028_" LOCATE = SITE "P4" LEVEL 1; 
COMP "H7/$Net00027_" LOCATE = SITE "P7" LEVEL 1; 
COMP "H7/$Net00026_" LOCATE = SITE "P10" LEVEL 1; 
COMP "H7/$Net00025_" LOCATE = SITE "P18" LEVEL 1; 
COMP "H6/$Net00004_" LOCATE = SITE "P24" LEVEL 1; 
COMP "H6/$Net00003_" LOCATE = SITE "P27" LEVEL 1; 
COMP "H6/$Net00002_" LOCATE = SITE "P36" LEVEL 1; 
COMP "H6/$Net00001_" LOCATE = SITE "P39" LEVEL 1; 
COMP "H5/$Net00012_" LOCATE = SITE "P3" LEVEL 1; 
COMP "H5/$Net00011_" LOCATE = SITE "P6" LEVEL 1; 
COMP "H5/$Net00010_" LOCATE = SITE "P9" LEVEL 1; 
COMP "H5/$Net00009_" LOCATE = SITE "P14" LEVEL 1; 
COMP "H4/RG2_D3" LOCATE = SITE "P51" LEVEL 1; 
COMP "H4/RG2_D2" LOCATE = SITE "P56" LEVEL 1; 
COMP "H4/RG2_D1" LOCATE = SITE "P57" LEVEL 1; 
COMP "H4/RG2_D0" LOCATE = SITE "P58" LEVEL 1; 
COMP "H3/RG1_D3" LOCATE = SITE "P40" LEVEL 1; 
COMP "H3/RG1_D2" LOCATE = SITE "P44" LEVEL 1; 
COMP "H3/RG1_D1" LOCATE = SITE "P45" LEVEL 1; 
COMP "H3/RG1_D0" LOCATE = SITE "P46" LEVEL 1; 
COMP "H2/NZ_2" LOCATE = SITE "P62" LEVEL 1; 
COMP "H2/NZ_1" LOCATE = SITE "P59" LEVEL 1; 
COMP "H2/NR_2" LOCATE = SITE "P65" LEVEL 1; 
COMP "H2/NR_1" LOCATE = SITE "P60" LEVEL 1; 
COMP "H2/GI_GOI" LOCATE = SITE "P61" LEVEL 1; 
COMP "H2/CLK11059" LOCATE = SITE "P35" LEVEL 1; 
COMP "H10/$Net00044_" LOCATE = SITE "P20" LEVEL 1; 
COMP "H10/$Net00043_" LOCATE = SITE "P25" LEVEL 1; 
SCHEMATIC END ;
